:root {
	--color-purple: #a445b2;
	--color-red: #fa4299;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
	height: 100vh;
	width: 100%;

	display: grid;
	place-items: center;
	background: -webkit-linear-gradient(left, var(--color-purple), var(--color-red));
}

::selection {
  background: var(--color-red);
  color: #fff;
}

.wrapper {
  max-width: 1200px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
}


.title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
	padding: 0 10px;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
}

@media only screen and (min-width: 550px) {
  .title {
    font-size: 1.5rem;
	}
} 

@media only screen and (min-width: 1050px) {
  .title {
    font-size: 2rem;
	}
}

.response-container {
	width: 100%;
  max-width: 400px;
	background-color: whitesmoke;
	border: 1px solid gray;
	padding: 10px;
	overflow-y: scroll;
  font-size: 0.7rem;
  overflow: hidden;
}

@media only screen and (min-width: 550px) {
  .response-container {
		border: 1px solid gray;
    font-size: 1rem;
    max-width: 500px;
	}
} 

@media only screen and (min-width: 1050px) {
  .response-container {
		max-width: 1010px;
		padding: 20px;
    font-size: 1.2rem;
	}
}

#clear-backend-response {
	color:red;
  font-size: 100%;
}

#clear-backend-response:hover {
	cursor: pointer;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}